<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="1.9.71" targetFramework="net451" />
  <package id="Microsoft.AspNet.Razor" version="2.0.30506.0" targetFramework="net461" />
  <package id="Nancy" version="1.4.3" targetFramework="net461" />
  <package id="Nancy.Viewengines.Razor" version="1.4.3" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net461" />
  <package id="System.Diagnostics.PerformanceCounter" version="4.5.0" targetFramework="net461" />
  <package id="ViewCopy" version="1.0.0" targetFramework="net461" />
  <package id="WebSocketSharp" version="1.0.3-rc11" targetFramework="net461" />
</packages>