<!DOCTYPE html>

<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div class="col-md-10">
        <h1>Config</h1>
        <h2>
            Value :&nbsp;<b id="statusId" style="font-size: 30px"></b>
        </h2>
        <p>&nbsp;</p>
        <p>
            <button type="button" class="btn btn-default" onclick="add();">
                Add one param
            </button>
            &nbsp;&nbsp;
            <button type="button" class="btn btn-default" onclick="request(0);">
                Set
            </button>
            &nbsp;&nbsp;
            <button type="button" class="btn btn-default" onclick="request(1);">
                Get
            </button>
        </p>
        <div>
            <div class="input-group" id="param"></div>
        </div>
    </div>
</body>
</html>

<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>

<script>
    window.history.pushState({}, 0, "http://" + window.location.host + "@Model.Path");

    // 0 是没加的时候，从 1 开始算起
    var idNow = 0;
    function add() {
        var div = document.createElement('div');
        var text = document.createElement('h5');
        text.innerText = 'param ' + idNow + '  ';

        var input = document.createElement('input');
        input.setAttribute('type', 'text');
        input.setAttribute('id', ++idNow);

        var btn = document.getElementById("param");
        btn.insertBefore(div, null);
        btn.insertBefore(text, null);
        btn.insertBefore(input, null);
    }

    //手动处理 Invoke 请求
    function request(param) {
        var requestUrl = "@Model.Path";
        for (var i = 1; i <= idNow; i++) {
            var s = $('#' + i).val();
            if (s != '') {
                requestUrl += "/" + s;
            }
        }
        var typeS;
        if (param == 0) {
            typeS = "post";
        }
        else {
            typeS = "get";
        }
        $.ajax({
            url: requestUrl,
            type: typeS,
            async: false,
            success: function (data) {
                var obj = JSON.parse(data);
                document.getElementById("statusId").innerHTML = obj.ObjectVal;
            }
        });
    }
</script>